<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>InterfaceBuilderFun.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D0874AC41CC7750700F8C3F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0874AD81CC7750700F8C3F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0874AE31CC7750700F8C3F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
